<div class="container">
<%= form_with(url: update_pwd_path(@user), method: "post") do %>
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
      </div>
      <%= password_field_tag (:password) %>    
    </div>

    <div class="form-group">
      <%= submit_tag("Reset") %>
    </div>
  <% end %>
</div>