<% flash.each do |type, msg| %>
  <div style="color: green">
    <%= msg %>
  </div>
<%end %>
<% if !current_user %>
  <%= link_to  "Login", new_user_session_path %>
<%else%>
  <%= link_to  "Logout", destroy_user_session_path %>
  <%= link_to  "Profile", users_edit_path %>
<% end %>