// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  .imagePreview{
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    // default text
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .imagePreview__image{
    display: none;
    width: 100%;
  }

  ul > li{
    display: inline-block;
    margin: 0 10px;
  }
